<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>644510264007-k3n2j7m0o4tthfagus3m5cgmeu0c0961.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.644510264007-k3n2j7m0o4tthfagus3m5cgmeu0c0961</string>
	<key>API_KEY</key>
	<string>AIzaSyDDcS55iqP_jIO4Qm4UrEOw5QpO5SXEs6w</string>
	<key>GCM_SENDER_ID</key>
	<string>644510264007</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sies.edu</string>
	<key>PROJECT_ID</key>
	<string>a3007exp6</string>
	<key>STORAGE_BUCKET</key>
	<string>a3007exp6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:644510264007:ios:6d21fe48e764603a4dace2</string>
</dict>
</plist>